<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/#home" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
                <img src="/assets/logo/logo-name/drt-logo-name-weiss.svg" alt="Devils Rock Trails Logo" class="nav-logo-img">
            </a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/#trail">Trails</a>
            <a href="/#community">Community</a>
            <a href="/#team">Kontakt</a>
            <a href="/nutzungsbestimmungen">Nutzungsbestimmungen</a>
            <a href="/spenden">Spenden</a>
            <a href="/schaden-melden">Schaden melden</a>
        </div>
        <div class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav> 