<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="index.html#home" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
                <img src="assets/logo/logo-name/drt-logo-name-weiss.svg" alt="Devils Rock Trails Logo" class="nav-logo-img">
            </a>
        </div>
        <div class="nav-links">
            <a href="index.html">Home</a>
            <a href="index.html#trail">Trail</a>
            <a href="index.html#community">Community</a>
            <a href="index.html#team">Kontakt</a>
            <a href="pages/nutzungsbestimmungen.html">Nutzungsbestimmungen</a>
        </div>
        <div class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav> 